.footer {
	background: url('../images/pages_background/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.png') center bottom no-repeat;
	background-size: cover;
	// position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: rem(10px) 5%;
	height: rem(70px);
	color: #ffffff;
	@include phones {
		height: rem(140px);
	}
}

.footer_container {
    display: flex;
    flex-direction: row;
	align-items: center;
	@include phones {
		flex-direction: column;
	}
}

.footer_info {
	width: 50%;
	@include phones {
		width: 100%;
	}
}

.footer_contacts {
	justify-content: flex-start;
	@include phones {
		justify-content: center;
		text-align: center;
		margin-bottom: rem(14px);
	}
}

.adress {
	@include ubuntu ();
	font-weight: 300;
	font-size: rem(14px);
	line-height: 1.8;
	@include phones {
		font-size: rem(20px);
	}
}
.phone {
	@include ubuntu ();
	font-weight: bold;
	font-size: rem(14px);
	line-height: 1.8;
	color: $orange;
	@include phones {
		font-size: rem(20px);
	}
}

.socials_list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	@include phones {
		justify-content: center;
	}
}

.socials_item {
	width: rem(20px);
	height: rem(20px);
	margin-right: rem(20px);

}