.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(10px);
}

.header_menu {
    display: flex;
    align-items: center;
    @include tablets {
      display: none;
    }
}

.menu_list {
    display: flex;
    align-items: center;
}

.menu_item {
    display: flex;
    align-items: center;
    &:before {
      content: "";
      display: block;
      width: rem(4px);
      height: rem(4px);
      border-radius: 50%;
      background: currentColor;
      margin-left: rem(14px);
    }
  
    &:first-child {
      &:before {
        display: none;
      }
    }
}

.menu_link {
    margin-left: rem(15px);
    @include ubuntu ($style: medium);
    text-decoration: none;
    text-transform: uppercase;
    font-size: rem(14px);
}

.header_links {
  @include tablets{
    margin-right: rem(10px);
    margin-bottom: rem(5px);
  }
}



