.team {
	background: url("../images/pages_background/team_bg.png") center center / cover no-repeat;
    position: relative;
}

.team_members {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.93;
    background: #323436;
    padding: rem(100px) rem(100px) rem(0px) rem(100px);
    @include tablets {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0 0;
    }
}

.team_list {
    margin-left: rem(20px);
    margin-top: rem(20px);
    display: flex;
    flex-direction: column;
    @include tablets {
        padding-top: rem(40px);
        margin: 0 0;
        width: auto;
        text-align: center;
        padding: 0 20%;
        margin-bottom: rem(50px);
    }
}

.team_name {
    @include gagalin ();
    font-size: rem(14px);
    color: #ffffff;
    position: relative;
	display: block;
	margin-bottom: rem(20px);
    &::before {
        content: "";
		display: block;
		position: absolute;
		left: rem(-18px);
		top: rem(8px);
		width: 0;
        height: 0;
        border-top: rem(7px) solid $yellow;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-bottom: rem(0px) solid transparent;
		transform: rotate(0deg);
		transition: .3s;
    }
    @include tablets {
        display: inline-flex;
        font-size: rem(25px);
    }
}

.team_content {
    display: none;
    margin-bottom: rem(20px);
    @include tablets {
        padding: 0 10%;
    }
}

.team_name_active {
    color: $yellow;
    &::before {
        transform: rotate(180deg);
    }
    & + .team_content {
        display: flex;
        @include tablets {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

}

.team_item{
    margin-bottom: rem(10px);
}

.team_avatar {
    margin-right: rem(20px);
    width: 60%;
    height: 60%;
    @include tablets {
        display: inline-flex;
        justify-content: center;
        margin-right: 0;
        margin-bottom: rem(20px);
    }
}

.team_text {
    @include ubuntu ();
    font-size: rem(14px);
    line-height: 1.71;
    font-weight: 300;
    color: #ffffff;
    margin-top: rem(-10px);
}

.team_position {
    font-weight: bold;
    margin-bottom: rem(10px);
}