.btn {
    text-transform: uppercase;
    border-radius: 5px;
    @include ubuntu ($style: medium);
    font-size: 13px;
    display: inline-block;
    padding: 10px 15px;

}

.order_btn {
    background: $orange;
    margin-left: 15px;
    &:hover {
        background: #c1401e;
    }
}
.order_btn-order {
    margin-left: 0;
    display: flex;
    align-items: center;
}

.clear_btn {
    @include ubuntu ();
    font-weight: 300;
    text-transform: none;
    font-size: 14px;
    line-height: 24px;
}

.review_btn {
    background: $black;
    margin-top: 17px;
    &:hover {
        background: #1f2122;
    }
}