.btn {
    text-transform: uppercase;
    border-radius: rem(5px);
    @include ubuntu ($style: medium);
    font-size: rem(14px);
    display: inline-block;
    text-align: center;
    padding: rem(10px) rem(15px);

}

.order_btn {
    background: $orange;
    &:hover {
        background: #c1401e;
    }
}
.order_btn-order {
    margin-left: 0;
    display: flex;
    align-items: center;
}

.clear_btn {
    @include ubuntu ();
    font-weight: 300;
    text-transform: none;
    font-size: rem(14px);
    line-height: 1.8;
}

.review_btn {
    background: $black;
    margin-top: rem(17px);
    &:hover {
        background: #1f2122;
    }
    // @include tablets {
    //     display: inline-flex;
    //     justify-content: center;
    // }
}