.features {
    background: url('../../img/pages_background/features_bg.jpg') center center / cover no-repeat;
}

.features_list {
    display: flex;
    justify-content: space-between;
}

.features_item {
    width: calc(100% / 3 - 26px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feature_image {
    display: flex;
    justify-content: center;
    height: 90px;
    margin-bottom: 30px;
}

.feature_title {
    @include lifehack ();
    font-size: 24px;
    margin-bottom: 13px;
    color: $black;
}

.feature_content {
    @include ubuntu ($style: light);
    font-size: 14px;
    line-height: 24px;
    color: rgba(47, 50, 52, 0.8);
}
