.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}

.header_menu {
    display: flex;
    align-items: center;
}

.menu_list {
    display: flex;
    align-items: center;
}

.menu_item {
    display: flex;
    align-items: center;
    &:before {
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: currentColor;
      margin-left: 13px;
    }
  
    &:first-child {
      &:before {
        display: none;
      }
    }
}

.menu_link {
    margin-left: 13px;
    @include ubuntu ($style: medium);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 2.31;
}

