.hero {
    background: url("../../img/pages_background/hero.jpg") center center / cover no-repeat;
    color: #fff;
    position: relative;
}
  
.hero_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hero_content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero_desc {
    font-size: 65px;
    @include lifehack();
    line-height: 1.1;
}
  
.hero_text {
    width: 50%;
    padding-top: 94px;
    margin-left: 11px;
}