.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 650px;
}

// &--align--top {
//     justify-content: flex-start;
//   }

.section_title {
    @include gagalin();
    font-size: 72px; 
    margin-bottom: 50px;
    line-height: 1;
}

.hero_title {
    color: $orange;
}

.features_title {
    color: $black;
}


//  &--centered {
//     text-align: center;
//   }

//   &--color--black {
//     color: $black;